
.container
{
	position:absolute;
	left:10%;
	width:80%;
	height:100%;
	border-width:1px;
	border:solid;
	background-color: yellow;

}


.header
{
	position:absolute;
  width:100%;
	top:0;
	left:0;
 	height:20%;
  border:solid;
  border-width:1;
	background-color: #666;
}

.middlepanel
{
	position:absolute;
	top:20%;	
	width:100%;
	height:70%;
	background-color:blue;
	border-width:1;

}
.leftpanel
{
	width:10%;
	height:100%;
	border-width:1;
	padding:.05px;
	background-color:#44accf;
}

.content
{
	
	position:relative;
	left: 10%;
	top:-100% ;
	width:80%;
	height:100%;
	
	border-width:1;
	background-color:green;
}
.rightpanel
{
	position:relative;
	left:90%;
	top: -200%;
	width:10%;
	height:100%;
	background-color:red;
	
}
.footer
{
	
 	position:absolute;
	width:100%;
	bottom:0;
	background-color: #b7d84b;
}

